body {
    font-family: Arial, sans-serif;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    margin: 0;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #0000007d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font: 2em ;
}

footer p{
    background-color: #0000007d;
    color: #ffffff;
    font-size: small;
    text-align: center;
    padding: 1px 0;
    clear: both;
    
}

h1 {
    text-align: center;
    color: #ffffff;
}

nav {
    background-color: #0000007d;
    color: #fff;
    text-align: center;
    padding: 0px 0;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
}

nav li {
    display: inline;
    margin: 0 15px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s, background-color 0.3s;
    padding: 15px; /* Aumenta el padding para hacer el área sensible más grande */
    display: inline-block; /* Permite que el padding afecte al tamaño del elemento */
}
        
nav a:hover,
nav a:focus {
    background-color: yellow;
    color: #333;
}

nav li {
    display: inline;
    margin: 0 15px;
    position: relative;
}
        
nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s, background-color 0.3s;
    padding: 15px; /* Aumenta el padding para hacer el área sensible más grande */
    display: inline-block; /* Permite que el padding afecte al tamaño del elemento */
}
        
nav a:hover, nav a:focus {
    background-color: yellow;
    color: #333;
}

.update
    {
        text-align: right;
        margin-right: 20px;
    }

.boton-enlace {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 18px;
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    font-size: 20px;
    text-decoration: none; /* Elimina el subrayado del enlace */
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

/* Estilos cuando se coloca el cursor sobre el botón */
.boton-enlace:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor */
}

.contenido{
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    font-size: 1.5em;
    line-height: 1.4;
    width: 450px; /* Ancho del div */
    height: auto; /* Altura del div */
    border: 2px solid #7577ff;/* Borde sólido de 2 píxeles de ancho y color negro */
    border-radius: 10px;
    background-color: #89a6ffa1;
    text-align: justify;
}

.cssFont_1 {
    font-family: 'Pacifico', cursive;
    font-size: 140px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    }

/*ZONA DE PRUEBAS*/

.fondodepantalla {
    /* Establece la imagen de fondo y asegúrate de que cubra todo el contenedor */
    background-image: url('Media/fondo.jpg');
    background-size: cover;
    /* Ajusta la imagen para que no se repita */
    background-repeat: no-repeat;
    /* Centra la imagen vertical y horizontalmente */
    background-position: center center;
    /* Establece una altura mínima para que el contenido sea visible en pantallas pequeñas */
}

/* Ajuste para moviles */
@media screen and (max-width: 750px ) {
    .contenido{
        width: 350px; /* Ancho del div */
        height: auto; /* Altura del div */
    }
    .boton-enlace {
        font-size: 15px
    }
}