body {
    font-family: Arial, sans-serif;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    margin: 0;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #0000007d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font: 2em ;
}

footer p{
    background-color: #0000007d;
    color: #ffffff;
    font-size: small;
    text-align: center;
    padding: 1px 0;
    clear: both;
}

h1 {
    text-align: center;
    color: #ffffff;
}

p {
    font-size: 1.6em;
    line-height: 1.4;
}

nav {
    background-color: #0000007d;
    color: #fff;
    text-align: center;
    padding: 0px 0;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
}

nav li {
    display: inline;
    margin: 0 15px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s, background-color 0.3s;
    padding: 15px; /* Aumenta el padding para hacer el área sensible más grande */
    display: inline-block; /* Permite que el padding afecte al tamaño del elemento */
}
        
nav a:hover,
nav a:focus {
    background-color: yellow;
    color: #333;
}

nav li {
    display: inline;
    margin: 0 15px;
    position: relative;
}
        
nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s, background-color 0.3s;
    padding: 15px; /* Aumenta el padding para hacer el área sensible más grande */
    display: inline-block; /* Permite que el padding afecte al tamaño del elemento */
}
        
nav a:hover, nav a:focus {
    background-color: yellow;
    color: #333;
}

.contenio {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 0px ) {
nav li {
    display: block;
    margin: 10px 0;
        }
}


/*ZONA DE PRUEBAS*/

.fondodepantalla {
    /* Establece la imagen de fondo y asegúrate de que cubra todo el contenedor */
    background-image: url('Media/fondo.jpg');
    background-size: cover;
    /* Ajusta la imagen para que no se repita */
    background-repeat: no-repeat;
    /* Centra la imagen vertical y horizontalmente */
    background-position: center center;
    /* Establece una altura mínima para que el contenido sea visible en pantallas pequeñas */
}