body {
    background-color: #000000;
    background: linear-gradient(
    25deg,
    rgba(66, 230, 149, 1),
    rgba(66, 32, 149, 1)
    );
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

nav {
    background-color: #0000007d;
    color: #fff;
    text-align: center;
    padding: 0px 0;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
}

nav li {
    display: inline;
    margin: 0 15px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s, background-color 0.3s;
    padding: 15px; /* Aumenta el padding para hacer el área sensible más grande */
    display: inline-block; /* Permite que el padding afecte al tamaño del elemento */
}
        
nav a:hover,
nav a:focus {
    background-color: yellow;
    color: #333;
}

nav li {
    display: inline;
    margin: 0 15px;
    position: relative;
}
        
nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s, background-color 0.3s;
    padding: 15px; /* Aumenta el padding para hacer el área sensible más grande */
    display: inline-block; /* Permite que el padding afecte al tamaño del elemento */
}
        
nav a:hover, nav a:focus {
    background-color: yellow;
    color: #333;
}

header {
    background-color: #0000007d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font: 2em ;
}

footer p{
    background-color: #33333392;
    color: #fff;
    font-size: small;
    text-align: center;
    padding: 1px 0;
    clear: both;
}

h1 {
    text-align: center;
    color: #ffffff;
}

p {
    font-size: 1.6em;
    line-height: 1.4;
}


.container {
    max-width: 65%;
    margin: 5% auto;
    padding: 10px;
    background-color: #ffffffac;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
}

.text-center {
    text-align: center;
    margin-bottom: 1em;
}

.lightbox-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.lightbox-gallery div > img {
    max-width: 100%;
    display: block;
    justify-content: center; /* Esto centrará horizontalmente la imagen */
    align-items: center; /* Esto centrará verticalmente la imagen */
    overflow: auto; /* Agrega desplazamiento si la imagen es más grande que la pantalla */
}

.lightbox-gallery div {
    margin: 10px;
}

.lightbox-gallery img {
    max-width: 100%;
    max-height: 100%;
}
/* Estilos para dispositivos de escritorio */
@media (min-width: 560px) {
    /* Tus estilos CSS para pantallas de escritorio aquí */
    img {
        width: 100%;
        height: 100%;
    }
}

  /* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    /* Tus estilos CSS para dispositivos móviles aquí */
    img {
        width: 100%;
        height: 100%;
    }
    .container {
        max-width: 95%;}
}

    .lightbox > div {
        margin-bottom: 10px;
    }

/*Lighbox CSS*/

.lightbox {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding-top: 30px;
    box-sizing: border-box;

}

.lightbox img {
    display: block;
    margin: auto;
    
}

.lightbox .caption {
    margin: 15px auto;
    width: 50%;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    color: #eee;
    
}

.github-link {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.github-link:hover,
.github-link:active,
.github-link:visited {
    color: #fff;
    text-decoration: none;
}

  /* Estilos CSS para la imagen en pantalla completa */
/* Estilos CSS para la imagen en pantalla completa */
.fullscreen-image {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 59, 59, 0.7);
    z-index: 999;
    text-align: center;
    cursor: pointer;
    overflow: auto; /* Agrega desplazamiento si la imagen es más grande que la pantalla */
}

.fullscreen-image img {
    left: 0;
    top: 10%;
    border: solid 3px black;
    max-width: 90%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.download-button{
    border: solid 1px black;
    position: relative;
    top: 10px;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #0040ff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 100px;
    cursor: pointer;
}

.cssFont_1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    }
    