body {
    font-family: Arial, sans-serif;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    margin: 0;
    background-color: #f2f2f2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

header {
    background-color: #0000007d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font: 2em ;
}

footer p{
    background-color: #33333392;
    color: #fff;
    font-size: small;
    text-align: center;
    padding: 1px 0;
    clear: both;
}

table {
    font-size: medium;
}

tr {
    vertical-align: middle; /* Alineación vertical al centro para todas las filas */
}

td {
    height: 9px;
    padding: 5px;
    text-align: center; /* Alineación horizontal al centro */
}


h1 {
    text-align: center;
    color: #ffffff;
    font-size: 32px;
}

nav {
    background-color: #0000007d;
    color: #fff;
    text-align: center;
    padding: 0px 0;
    font-size: 16px;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
}

nav li {
    display: inline;
    margin: 0 15px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s, background-color 0.3s;
    padding: 15px; /* Aumenta el padding para hacer el área sensible más grande */
    display: inline-block; /* Permite que el padding afecte al tamaño del elemento */
}
        
nav a:hover,
nav a:focus {
    background-color: yellow;
    color: #333;
}

nav li {
    display: inline;
    margin: 0 15px;
    position: relative;
}
        
nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s, background-color 0.3s;
    padding: 15px; /* Aumenta el padding para hacer el área sensible más grande */
    display: inline-block; /* Permite que el padding afecte al tamaño del elemento */
}
        
nav a:hover, nav a:focus {
    background-color: yellow;
    color: #333;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 0px) {
    nav li {
        display: block;
        margin: 10px 0;
            }
    }

.centrado {
    padding: 20px;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

.tv {
    transform: rotate(270deg); /* Rota el texto 270 grados (de abajo a arriba) */
    white-space: nowrap;
}

.tvr {
    transform: rotate(300deg); /* Rota el texto 270 grados (de abajo a arriba) */
    white-space: nowrap;
    font-size: small;
}

.tva {
    width: 30px;
}